# Python
venv/
env/
__pycache__/
*.pyc

# Backend env
backend/.env

# Node
node_modules/
.next/

# IDE
.vscode/

# Logs
*.log
# Temporary images
backend/temp/

# Zip files
*.zip

# macOS metadata
__MACOSX/
.DS_Store